.menu{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
h2{
    color: white;
}
ul{
    padding-inline: 2rem;
    display: flex;
    gap: 2rem;
    position: relative;
    
}
ul::after{
content: "";
position: absolute;
width: 90%;
height: 1px;
bottom: 0;
background-color: white;
}
a{
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
ul li {
    list-style: none;
    
}
